<h1 class="hero-welcome">Welcome to CSE Motors......!</h1>
<div class="hero-img-container">
    <div>
        <picture id="pix">
            <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
            <img src="/images/vehicles/delorean.jpg" alt=" Delorean image" width="960" height="540">
        </picture>
    </div>
    <div class="motor-details">
        <h4>DMC delorean</h4>
        <p>3 Cup holders<br>Sperman doors<br>Fuzzy dice!</p>
        <!-- <p></p>
        <p></p> -->
        <button id="button">Own Today</button>
    </div>
</div>
<div id="section-container">
    <section id="section1">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it is almost like trsveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section id="section2">
        <h3>Delorean Upgrades</h3>
        <div id="icon-container">
            <div id="icon1">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor logo">
                <a class="icon-link" href="">Flux Capacitor</a>
            </div>
            <div id="icon2">
                <img src="/images/upgrades/flame.jpg" alt="flame Decals logo">
                <a class="icon-link" href="">Flame Decals</a>
            </div>
            <div id="icon3">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker logo">
                <a class="icon-link" href="">Bumper Sticker</a>
            </div>
            <div id="icon4">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap logo">
                <a class="icon-link" href="">Hub Caps</a>
            </div>
        </div>
    </section>
</div>