/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Vinyl&display=swap'); */

:root {
  --background_color1: #53311D;
  --background_color2: #233B5C;
  --background_color3: #FFCCCC;
  --background_color4: #CCD5AE;
  --background_color5: #030D14;
  --background_color6: #2B3E54;
  --buttonColor: #4CAF50;
  --text_color: #233B5C;
  --secondary-color: rgba(4, 4, 4, 0.8);
  --accent1-color: #FFFFFF;

  --primaryfont: "Josefin Sans";
  --secondaryfont: "Playfair Display";
  --headerfont: "Rubik Vinyl";
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: none;
  margin: 1px 0px;
  padding: 0%;
}

#wrapper {
  background-color: var(--accent1-color);
  /* position: relative; */
  /* Position relative for content */
  z-index: 2;
  /* Ensure content is above the overlay */
  width: 100%;
  /* Set the width of the container */
  /* max-width: 600px; */
  /* Maximum width */
  height: auto;
  /* Automatic height based on content */
  padding: 3px;
  /* Padding inside the container */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* White background with some transparency */
  border-radius: 0px;
  border: 0px solid var(--background_color5);
  /* Rounded corners */
  box-shadow: none;
  /* Shadow for depth */
  margin: 0 auto;
  /* Center the container with margin */
  /* text-align: center; */
  /* Center text inside the container */
}

#pix img {
  width: 100%;
  height: auto;

}

#top-header {
  /* display: block;
  padding-bottom: 30px;
  padding-top: 30px; */

  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}

#top-header a {
  color: var(--background_color5);
  text-decoration: none;
  flex: 1 1 100px;
  /* display: block; */
}

.siteName {
  font-size: 35px;
  font-family: var(--primaryfont);
}

#tools {

  position: absolute;
  top: 30px;
  right: 15px;
  /* margin-left: 30px; */
  font-family: var(--primaryfont);
  /* background-color: #a8b2b9; */
}

#ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


#ul li a {
  display: block;
  color: var(--accent1-color);
  font-family: var(--secondaryfont);
  text-align: center;
  /* padding: 1px 1px; */
  text-decoration: none;
  /* transition: background-color 0.3s; */
}

.Nav li a:hover {
  font-style: italic;
}

/* @media (max-width: 600px) {
  li {
    float: none;
    width: 100%;
  }
} */

/* nav ul {
  display: flex;
  padding: 0;
  margin: 0;
} */

.Nav ul li {
  background-color: var(--secondary-color);
  width: 60%;
  /* flex: 1 1 100px; */
  /* display: block; */
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: var(--accent1-color); */
  /* font-family: var(--secondaryfont); */
  font-size: 15px;
  text-align: center;
}

.hero-welcome {
  font-family: var(--secondaryfont);
  font-weight: 700;
  font-size: 15px;
}

.hero-img-container {
  position: relative;
  /* align-items: center; */
  /* Center vertically */
  /* justify-content: center; */
  /* Center horizontally */

}

.motor-details {
  /* background-color: var(--background_color6); */
  background-color: rgba(4, 4, 4, 0.8);
  /* width: 30%; */
  /* height: 62%; */
  position: absolute;
  top: 30px;
  padding: 5px;
  /* Move down 50px from the top of the container */
  left: 30px;
  border-radius: 10px;
  text-align: center;
  color: var(--accent1-color);

}

.motor-details h4 {
  font-family: var(--secondaryfont);
  font-size: 10px;
  font-weight: 700;
  margin-bottom: -5px;
}

.motor-details p {
  font-family: var(--secondaryfont);
  font-size: 9px;
  font-weight: 100;
  margin-bottom: 1px;
}

.motor-details button {
  padding: 5px;
  border-radius: 15px;
  font-weight: 700;
  font-family: var(--secondaryfont);
  background-color: var(--background_color5);
  color: var(--accent1-color);
  margin-top: 0px;
}

#section-container {
  display: block;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

#section-container h3 {
  font-family: var(--primaryfont);
  font-size: 20px;
}

#section1 {
  grid-column: 1/2;

}

#icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /* Space between grid items */
  padding: 5px;
  /* Padding around the grid */

}

#icon-container img {
  max-width: 100%;
  /* Responsive image */
  max-height: 70%;
  /* Limit height to 70% of the grid item */
  object-fit: contain;
  /* Maintain aspect ratio */
}

#icon-container .icon-link {
  font-family: var(--secondaryfont);
  margin-top: auto;
  text-align: center;
  color: var(--accent1-color);
  text-decoration: none;
}

#icon-container .icon-link:hover {
  color: var(--background_color5);
  background-color: var(--accent1-color);
  text-decoration: underline;
}

#icon1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(4, 4, 4, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

#icon2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgba(4, 4, 4, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#icon3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgba(4, 4, 4, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#icon4 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(4, 4, 4, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#section1 {
  grid-column: 2/3;
}


#section1 ul {
  display: block;
  font-size: 20px;
  font-family: var(--secondaryfont);
}

#section1 ul li {
  margin-bottom: 15px;
}

footer .copyright {
  font-family: var(--primaryfont);
  margin-top: 50px;
}

#title {
  font-family: var(--secondaryfont);
  color: var(--background_color5);
}

.vehicle-detail {
  display: flex;
  border: 2px solid var(--background_color5);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.vehicle-image img {
  width: 100%;
  height: auto;
}

.vehicle-info {
  padding: 20px;
  background-color: rgba(4, 4, 4, 0.8);
  flex-grow: 1;
}

.vehicle-info h1 {
  font-size: 24px;
  margin: 0 0 10px;
  color: var(--accent1-color);
  font-family: var(--headerfont);
}

.vehicle-info p {
  margin: 5px 0;
  color: var(--accent1-color);
  font-family: var(--secondaryfont);
}

.vehicle-info p strong {
  color: var(--accent1-color);
}

/* ..........inv/type.......................................... */
#inv-display {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

#inv-display li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 250px;
  text-align: center;

}

#inv-display li:hover {
  transform: scale(1.05);
}

#inv-display img {
  width: 100%;
  height: auto;
}

.namePrice {
  padding: 10px;
}

.namePrice h2 {
  font-size: 18px;
  margin: 10px 0;
  color: var(--background_color5);
  font-family: var(--secondaryfont);
}

.namePrice span {
  display: block;
  font-size: 16px;
  color: var(--background_color2);
}

.notice {
  text-align: center;
  font-size: 18px;
  color: #FF0000;
}

hr {
  border: none;
  border-top: 1px solid var(--background_color5);
  margin: 10px 0;
}

#inv-display a {
  text-decoration: none;
  color: var(--background_color5);
}

#inv-display h2 a:hover {
  font-style: italic;
  background-color: var(--background_color5);
  color: var(--accent1-color);
  padding: 2px;
  border-radius: 5px;
}

/* .................Login styling */
/* General container styling */
.container {
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

/* Heading styling */
.container h1 {
  text-align: center;
  color: var(--background_color5);
  font-family: var(--headerfont);
  margin-top: 20px;
  font-size: 25px;
}

/* Flash message styling */
.flash-message {
  background-color: var(--secondary-color);
  border: 1px solid var(--background_color5);
  padding: 5px;
  margin-bottom: 10px;
  color: var(--accent1-color);
  font-size: 15px;
  list-style-type: none;
  text-align: start;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
}

/* Label styling */
.form-group label {
  font-family: var(--primaryfont);
  color: var(--background_color5);
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Input styling */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--background_color5);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button styling */
.button[type="submit"] {
  /* background-color: var(--background_color5); */
  font-weight: bold;
  color: var(--background_color5);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 50%; */
  box-sizing: border-box;
  font-family: var(--primaryfont);
}

.button[type="submit"]:hover {
  background-color: var(--buttonColor);
  color: var(--accent1-color);
}

/* Registration link styling */
.container p {
  text-align: center;
  margin-top: 20px;
}

.container p a {
  color: var(--background_color5);
  text-decoration: none;
  font-style: italic;
}

.container p a:hover {
  text-decoration: underline;
}



/* .............Register styling.......... */

/* General Form Styles */
.registration-form {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(14, 12, 12, 0.7);
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-label {
  font-family: var(--primaryfont);
  color: var(--accent1-color);
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--background_color3);
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button {
  background-color: var(--background_color5);
  font-weight: bold;
  color: var(--accent1-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 50%; */
  box-sizing: border-box;
  font-family: var(--primaryfont);
}

.submit-button:hover {
  background-color: var(--buttonColor);
  color: var(--accent1-color);
}

.flash-message {
  background-color: var(--secondary-color);
  border: 1px solid var(--background_color5);
  padding: 5px;
  margin-bottom: 10px;
  color: var(--accent1-color);
  font-size: 15px;
  list-style-type: none;
  text-align: start;
}

.login-link {
  text-align: center;
  margin-top: 1em;
}

.login-link a {
  color: var(--background_color5);
  text-decoration: none;
  font-style: italic;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Page Title Styles */
.page-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#password-requirements {
  background-color: var(--secondary-color);
  border: 1px solid var(--background_color5);
  font-family: var(--secondaryfont);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 10px;
  color: var(--accent1-color);
  font-style: italic;
}

#password-requirements h4 {
  margin: 0 0 10px 0;
}

#password-requirements ul {
  list-style-type: none;
  padding: 0;
}

#password-requirements li {
  margin: 5px 0;
}


/* ..........inventory style.......... */
.inv-title {
  text-align: center;
  color: var(--background_color5);
  font-family: var(--headerfont);
  margin-top: 20px;
  font-size: 25px;

}

.inventory-form {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(14, 12, 12, 0.7);
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-label {
  font-family: var(--primaryfont);
  color: var(--accent1-color);
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--background_color3);
  border-radius: 5px;
  box-sizing: border-box;
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
  border-color: var(--background_color5);
  box-shadow: 0 0 5px rgba(34, 39, 45, 0.5);
}

.form-textarea {
  height: 100px;
}

.inv-form-button {
  background-color: var(--background_color5);
  font-weight: bold;
  color: var(--accent1-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 50%; */
  box-sizing: border-box;
  font-family: var(--primaryfont);
}

.inv-form-button:hover {
  background-color: var(--buttonColor);
  color: var(--accent1-color);
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--background_color5);
  text-decoration: none;
  font-family: var(--secondaryfont);
}

.back-link:hover {
  font-style: italic;
  color: var(--background_color2);
}

/* ............Account Management......... */

/* Header */
.management-h1 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: var(--background_color5);
  font-family: var(--secondary-color);
}

/* Logged In Message */
.management-p {
  text-align: center;
  font-size: 10px;
  margin: 20px 0;
  font-family: var(--primaryfont);
}

.line {
  max-width: 200px;
  margin: 0 auto;
  border: none;
  border-top: 1px solid var(--background_color5);
}

/* User Welcome Section */
.management-h2 {
  font-size: 22px;
  color: var(--background_color5);
  text-align: center;
  font-family: var(--primaryfont);
}

.management-h3 {
  font-size: 20px;
  color: var(--background_color5);
  text-align: center;
  font-family: var(--primaryfont);
}

/* Link Styles */
.updatelink,
.management-a,
.management-pic {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: var(--primaryfont);
}

.updatelink:hover,
.management-a:hover {
  background-color: var(--accent1-color);
  color: var(--background_color5);
}

.management-pic:hover {
  background-color: var(--accent1-color);
  color: var(--background_color5);
}

/* Profile Container */
.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.bio {
  text-align: center;
  color: var(--background_color5);
  font-family: var(--primaryfont);
}

/* ................Image upload View Styling............ */
.form-container {
  background-color: var(--accent1-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(14, 12, 12, 1.7);
  max-width: 50%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-label-pic {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  font-family: var(--primaryfont);
}

.form-input-pic {
  width: 70%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid var(--background_color5);
  box-sizing: border-box;
}

#image-button {
  background-color: var(--background_color5);
  color: var(--accent1-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#image-button:hover {
  background-color: var(--accent1-color);
  color: var(--background_color5);
}

.hidden-input {
  display: none;
}


/* ...................Password Updating Styling............. */
.change-password-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background: var(--accent1-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formlabel {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--background_color5);
  font-family: var(--primaryfont);
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--accent1-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.password-info {
  margin-top: 20px;
  background: var(--accent1-color);
  padding: 10px;
  border-radius: 5px;
  color: var(--background_color5);
}

.password-p {
  margin: 0 0 10px 0;
}

.password-ul {
  list-style: none;
  padding: 0;
}

.password-ul li {
  margin-bottom: 5px;
}

.password-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.password-button:hover {
  background-color: var(--accent1-color);
  color: #4CAF50;
}



/* ..............Management Stlying..... */
.management-title {
  font-size: 20px;
  color: var(--background_color5);
  font-family: var(--headerfont);
  text-align: center;
  margin: 20px 0;

}

.flash-message {
  background-color: var(--secondary-color);
  border: 1px solid var(--background_color5);
  padding: 5px;
  margin-bottom: 10px;
  color: var(--accent1-color);
  font-size: 15px;
  list-style-type: none;
  text-align: start;
}

/* .main-navigation {
  padding: 0px; 
  border-radius: 5px;
   text-align: center;

} */

#classificationList {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--accent1-color);
  background-color: var(--accent1-color);
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#classificationList option {
  padding: 5px;
  background-color: var(--accent1-color);
}

#classificationList option:hover {
  background-color: var(--accent1-color);
}

#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

#inventoryDisplay th,
#inventoryDisplay td {
  padding: 12px;
  border-bottom: 1px solid var(--accent1-color);
}

#inventoryDisplay th {
  background-color: var(--accent1-color);
  font-weight: bold;
}

#inventoryDisplay tr:nth-child(even) {
  background-color: var(--accent1-color);
}

#inventoryDisplay tr:hover {
  background-color: var(--accent1-color);
}

#inventoryDisplay a {
  color: var(--background_color5);
  text-decoration: none;
}

#inventoryDisplay a:hover {
  text-decoration: underline;
}

.main-navigation ul li {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background-color: var(--secondary-color);
  width: 30%;



}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.nav-item {
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--accent1-color);
  font-family: var(--primaryfont);
  font-weight: bold;
  font-size: 20px;
}

.nav-link:hover {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  font-style: italic;
  padding: 3px;
  border-radius: 5px;
}


/* ............classififcation styling..... */


.page-title {
  text-align: center;
  color: var(--background_color5);
  font-family: var(--headerfont);
  margin-top: 20px;
  font-size: 25px;
}

.flash-message,
.notice {
  background-color: var(--secondary-color);
  border: 1px solid var(--background_color5);
  padding: 5px;
  margin-bottom: 10px;
  color: var(--accent1-color);
  font-size: 15px;
  list-style-type: none;
  text-align: start;
}

.error-item {
  list-style-type: none;
}

.classification-form {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(14, 12, 12, 0.7);
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-label {
  font-family: var(--primaryfont);
  color: var(--accent1-color);
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--background_color3);
  border-radius: 5px;
  box-sizing: border-box;
}

.Submit-button {
  background-color: var(--background_color5);
  font-weight: bold;
  color: var(--accent1-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 50%; */
  box-sizing: border-box;
  font-family: var(--primaryfont);
}

.Submit-button:hover {
  background-color: var(--buttonColor);
  color: var(--accent1-color);
}

.Back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--background_color5);
  text-decoration: none;
  font-family: var(--secondaryfont);
}

.Back-link:hover {
  font-style: italic;
  color: var(--background_color2);
}


/* ............................. */
/* Responsive styles */
@media (max-width: 768px) {
  .management-title {
    font-size: 1.5em;
  }

  .flash-message {
    font-size: 0.9em;
  }

  .nav-link {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .vehicle-detail {
    flex-direction: row;
  }

  .vehicle-image {
    flex-basis: 40%;
    max-width: 40%;
  }

  .vehicle-info {
    flex-basis: 60%;
    max-width: 60%;
  }

  nav ul li {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .vehicle-detail {
    flex-direction: column;
  }

  .vehicle-image {
    width: 100%;
  }

  nav ul li {
    width: 70%;
  }
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 950px) {

  body {
    background-image: url('/images/site/small_check.jpg');
  }

  #wrapper {
    background-color: var(--accent1-color);
    /* position: relative; */
    /* Position relative for content */
    z-index: 2;
    /* Ensure content is above the overlay */
    width: 80%;
    /* Set the width of the container */
    /* max-width: 600px; */
    /* Maximum width */
    height: auto;
    /* Automatic height based on content */
    padding: 20px;
    /* Padding inside the container */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* White background with some transparency */
    border-radius: 10px;
    border: 5px solid var(--background_color5);
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
    margin: 100px auto;
    /* Center the container with margin */
    /* text-align: center; */
    /* Center text inside the container */
  }

  #pix img {
    width: 80%;
    margin-left: 100px;
  }

  #top-header {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .siteName {
    font-size: 40px;
    font-family: var(--headerfont);

  }

  #tools {
    /* position: absolute;
    top: 120px;
    right: 100px;
    display: flex; */
    position: absolute;
    top: 150px;
    right: 180px;
    /* margin-left: 600px; */
  }


  .Nav ul li {
    width: 100%;
    font-size: 30px;
    padding: 20px;
  }

  .hero-welcome {
    font-size: 35px;
  }

  .motor-details {
    /* background-color: var(--background_color6); */
    top: 50px;
    left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    color: var(--accent1-color);
  }

  .motor-details h4 {
    font-size: 20px;
  }

  .motor-details p {
    font-size: 15px;
    font-weight: 700;
  }

  .motor-details button {
    padding: 15px;
    border-radius: 30px;
    margin-top: 10px;
  }

  #section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
  }

  #section1 {
    grid-column: 2/3;
    grid-row: 1/2;

  }

  #section2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* Space between grid items */
    padding: 5px;
    /* Padding around the grid */

  }

  #icon-container img {
    max-width: 100%;
    /* Responsive image */
    max-height: 70%;
    /* Limit height to 70% of the grid item */
    object-fit: contain;
    /* Maintain aspect ratio */
  }

  #icon-container .icon-link {
    font-family: var(--secondaryfont);
    margin-top: auto;
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
  }

  #icon-container .icon-link:hover {
    color: var(--background_color5);
    background-color: var(--accent1-color);
    text-decoration: underline;
  }

  #icon1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba(4, 4, 4, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

  }

  #icon2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(4, 4, 4, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  #icon3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgba(4, 4, 4, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  #icon4 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(4, 4, 4, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }



  #section-container h3 {
    font-family: var(--primaryfont);
    font-size: 30px;
  }

  #section1 ul {
    display: block;
    font-size: 20px;
    font-family: var(--secondaryfont);
  }

  #section1 ul li {
    margin-bottom: 30px;
  }

  footer .copyright {
    margin-top: 100px;
  }

  /* .....Login Styling... */
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 20px;
  }

  .form-group input {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }


  /* .......Registration Stlying */
  .registration-form {
    padding: 0.5em;
    border-radius: 3px;
  }

  .form-input {
    padding: 0.4em;
  }

  .submit-button {
    padding: 0.6em;
  }

  .page-title {
    font-size: 3em;
  }

  /* .......Management Styling...... */

  .management-title {
    font-size: 3em;
  }

  .flash-message {
    font-size: 0.8em;
  }

  .nav-link {
    font-size: 30px;
  }


  /* classification styling */
  .classification-form,
  .flash-message,
  .notice,
  .inventory-form,
  .container,
  .registration-form, .form-container {
    max-width: 600px;
  }

  /* ................Account Management...........
  .profile-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-img {
    margin-right: 20px;
  }

  .bio {
    text-align: left;
  } */


}